<div class="avatar-group">
  <div class="avatar">
    <img src="/assets/images/avatars/pexels-chloe-1043471.jpg" alt="" />
  </div>

  <div class="avatar">
    <img
      src="/assets/images/avatars/pexels-diva-plavalaguna-6150081.jpg"
      alt=""
    />
  </div>

  <div class="avatar">
    <img src="/assets/images/avatars/pexels-masha-raymers-2726111.jpg" alt="" />
  </div>

  <div class="avatar img-center">
    <img src="/assets/images/avatars/pexels-pixabay-220453.jpg" alt="" />
  </div>

  <div class="avatar">
    <img src="/assets/images/avatars/pexels-pixabay-415829.jpg" alt="" />
  </div>

  <div class="avatar hidden-avatar">+10</div>
</div>
