<section class="contact-us container">
  <div class="contact-us__desc">
    <h3 class="contact-us__title">ارتباط با ما</h3>
    <p class="contact-us__body">
      شما میتوانید نظرات و انتقادات خود را برای ما بفرستید.
    </p>
  </div>

  <div class="contact-us__media">
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
      </svg>
    </span>

    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#facebook"></use>
      </svg>
    </span>

    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
      </svg>
    </span>
  </div>

  <div class="contact-us__address" dir="ltr">
    <div class="icon-holder">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#location"></use>
        </svg>
      </span>
      <span class="icon-holder__label"
        >6386 Spring St undefined Anchorage, Georgia 12473 United
        States</span
      >
    </div>

    <div class="icon-holder">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#phone"></use>
        </svg>
      </span>
      <span class="icon-holder__label">(843) 555-0130</span>
    </div>

    <div class="icon-holder">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#email"></use>
        </svg>
      </span>
      <span class="icon-holder__label">Mohammad.123@example.com</span>
    </div>
  </div>

  <div class="contact-us__map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207371.97794942907!2d51.209735386345095!3d35.69701178457929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00491ff3dcd9%3A0xf0b3697c567024bc!2sTehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1636148602606!5m2!1sen!2s"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>

  <div class="form-wrapper">
    <h3 class="form-wrapper__title">نظرات شما</h3>
    <form class="contact-us__form">
      <input type="text" placeholder="نام کاربری خود را وارد کنید" />
      <input type="email" placeholder="ایمیل خود را وارد کنید" />
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        placeholder="نظرات و انتقادات خود را در این قسمت وارد کنید"
      ></textarea>
      <button class="btn btn--main">ارسال</button>
    </form>
  </div>
</section>