<footer class="main-footer container-fluid">
  <div class="footer container">
    <div class="footer__item tapsi-info">
      <span>
        <a href="https://tapsi.ir" target="_blank">
          <img
            class="footer__logo"
            src="https://tapsi.ir/images/tapsi-logo-white.svg"
            alt="Tapsi Logo"
          />
        </a>
      </span>
      <p class="tapsi-info__body">اپلیکیشن درخواست خودرو و پیک</p>
    </div>

    <div class="footer__item">
      <h6 class="footer__item-title">تپسی</h6>
      <ul class="footer__list">
        <li class="footer__list__item">
          <a href="" class="footer__link">وبلاگ تپسی</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">فرصت شغلی</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">تماس با ما</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">لوگو و هویت سازمانی</a>
        </li>
      </ul>
    </div>

    <div class="footer__item">
      <h6 class="footer__item-title">مسافران</h6>
      <ul class="footer__list">
        <li class="footer__list__item">
          <a href="" class="footer__link">دانلود اپ مسافر</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">نسخه وب تپسی</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">پرسش‌های متداول مسافران</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">باشگاه مشتریان</a>
        </li>
      </ul>
    </div>

    <div class="footer__item">
      <h6 class="footer__item-title">رانندگان</h6>
      <ul class="footer__list">
        <li class="footer__list__item">
          <a href="" class="footer__link">ثبت نام راننده تاکسی اینترنتی</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">دانلود اپ سفیر</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">پرسش‌های متداول سفیران</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">باشگاه سفیران</a>
        </li>
      </ul>
    </div>

    <div class="footer__item">
      <h6 class="footer__item-title">کسب و کارها</h6>
      <ul class="footer__list">
        <li class="footer__list__item">
          <a href="" class="footer__link">پنل سازمانی تپسی</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">خرید کد اعتبار و تخفیف</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">دریافت API</a>
        </li>
        <li class="footer__list__item">
          <a href="" class="footer__link">شرایط و قوانین</a>
        </li>
      </ul>
    </div>

    <div class="footer__item trust-col">
      <div class="trust-logo">
        <img src="/assets/images/trust/etehadiye.png" alt="etehadiye logo" />
      </div>
      <div class="trust-logo">
        <img
          src="/assets/images/trust/logo2.aspx.png"
          alt="neshan melli sabt"
        />
      </div>
      <div class="trust-logo">
        <img
          src="/assets/images/trust/logo3.aspx.png"
          alt="namad etemad electronici"
        />
      </div>
    </div>

    <div class="mobile-copy-right">
      تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.
    </div>
  </div>
</footer>
