<div class="container plan__padding">
  <h2 class="plan__title">تعرفه های ویژه مشتریان</h2>
  <section class="plan-container">
    <div class="plan first-plan">
      <div class="card">
        <header class="card__header">
          <div class="plan__intro">
            <span class="plan__type">عادی</span>
            <span class="badge">10% off</span>
          </div>
          <span class="plan__price"
            >۲۹۰,۰۰۰<span class="plan__billing-cycle"
              >ماهانه / تومان</span
            ></span
          >
          <span class="plan__desc">سرویس ماشین های معمولی</span>
        </header>
        <div class="card__body">
          <ul class="list list--vertical">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
          </ul>
          <button class="btn btn--secondary btn--block">ثبت سفارش</button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
          <div class="plan__intro">
            <span class="plan__type">اقتصادی</span>
            <span class="badge badge--main">15% off</span>
          </div>
          <span class="plan__price"
            >۳۹۰,۰۰۰<span class="plan__billing-cycle"
              >ماهانه / تومان</span
            ></span
          >
          <span class="plan__desc">سرویس ماشین های کلاسیک</span>
        </header>
        <div class="card__body">
          <ul class="list list--vertical">
            <li class="list__item">کیفیت عالی</li>
            <li class="list__item">کم سر و صدا</li>
            <li class="list__item">زمان محدود</li>
            <li class="list__item">سرویس روزانه</li>
          </ul>
          <button class="btn btn--primary btn--block">ثبت سفارش</button>
        </div>
      </div>
    </div>
    <div class="plan third-plan">
      <div class="card">
        <header class="card__header">
          <div class="plan__intro">
            <span class="plan__type">ویژه</span>
            <span class="badge">20% off</span>
          </div>
          <span class="plan__price"
            >۴۹۰,۰۰۰<span class="plan__billing-cycle"
              >ماهانه / تومان</span
            ></span
          >
          <span class="card__desc">سرویس ماشین های مدل بالا</span>
        </header>
        <div class="card__body">
          <ul class="list list--vertical">
            <li class="list__item">کیفیت خیلی خفن</li>
            <li class="list__item">بی سر و صدا</li>
            <li class="list__item">زمان نامحدود</li>
            <li class="list__item">سرویس نامحدود</li>
          </ul>
          <button class="btn btn--secondary btn--block">ثبت سفارش</button>
        </div>
      </div>
    </div>
  </section>
</div>
