<section class="services container">
  <div class="services__tabs">
    <h2 class="services__title block-heading">سرویس های تپسی</h2>
    <div class="nav nav-tab" id="nav-tab" role="tablist">
      <a class="tab active" id="nav-classic-tab">
        <img
          src="https://tapsi.ir/images/home/cc-classic.png"
          alt="tapsi-classic-icon"
        />
        <p>تپسی کلاسیک</p>
      </a>
      <a class="tab" id="nav-motopeyk-tab" href="#">
        <img
          src="https://tapsi.ir/images/home/cc-motopeyk.png"
          alt="motopeyk-icon"
        />
        <p>موتوپیک</p>
      </a>
      <a class="tab" id="nav-autopeyk-tab" href="#">
        <img
          src="https://tapsi.ir/images/home/cc-autopeyk.png"
          alt="autopeyk-icon"
        />
        <p>اتوپیک</p>
      </a>
      <a class="tab" id="nav-plus-tab" href="#">
        <img
          src="https://tapsi.ir/images/home/cc-plus.png"
          alt="tapsi-plus-icon"
        />
        <p>تپسی پلاس</p>
      </a>
      <a class="tab" id="nav-tel-tab" href="#">
        <img
          src="https://tapsi.ir/images/home/cc-tel.png"
          alt="tapsi-tel-icon"
        />
        <p>تپسی تلفنی</p>
      </a>
      <a class="tab" id="nav-hamyar-tab" href="#">
        <img
          src="https://tapsi.ir/images/home/cc-hamyar.png"
          alt="hamyar-icon"
        />
        <p>همیار</p>
      </a>
      <a class="tab" id="nav-hamkhat-tab" href="#">
        <img
          src="https://tapsi.ir/images/home/cc-hamkhat.png"
          alt="hamkhat-icon"
        />
        <p>هم‌خط</p>
      </a>
      <a class="tab" id="nav-taxi-tab" href="#">
        <img
          src="https://tapsi.ir/images/home/cc-taxi.png"
          alt="tapsi-taxi-icon"
        />
        <p>تاکسی</p>
      </a>
      <a class="tab" id="nav-line-tab" href="#">
        <img
          src="https://tapsi.ir/images/home/cc-line.png"
          alt="tapsi-line-icon"
        />
        <p>تپسی لاین</p>
      </a>
    </div>
  </div>

  <div class="feature container">
    <div class="feature__img">
      <img src="/assets/images/feature-img.png" alt="" />
    </div>
    <div class="feature__desc">
      <h3 class="feature__title">تپسی کلاسیک</h3>
      <p class="feature__body">
        در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر و عمر کمتر، به
        دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین امتیاز را از
        مسافران دریافت کرده‌اند. در این سرویس که در حال حاضر در تهران فعال است،
        امکان تعیین چند مقصد یا توقف در حین سفر، وجود دارد.
      </p>
    </div>
  </div>
</section>
